@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $main-color;
        top: -25%;
        left: 0;
        z-index: -1;
    }
}
@mixin divider {
    width: 60px;
    border: 2px solid #FFA501;
    margin-top: 4px;
}