@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
* {
    font-family: 'MuseoSansCyrl', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 2px solid red;
}
