.about {
    min-height: 600px;
    padding: 120px 0;
    &__img {
        height: 600px;
    }
    &__subtitle {
        line-height: 35px;
    }
    &__wrapper {
        display: flex;
    }
    &__text {
        margin-left: 70px;
        width: 570px;
    }
    &__divider {
        width: 60px;
        border: 2px solid #FFA501;
        margin-top: 4px;
    }
    &__subtitle {
        position: relative;
        padding-left: 12px;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: $main-color;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .title_fz36 {
        margin-top: 6px;
    }
    &__txt {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
    &__cards {
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__card {
        width: 260px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;
        &:before {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: $main-color;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .card__text {
        width: 200px;
    }
    .card__img {
        top: 15%;
        position: absolute;
        left: 6%;
    }
}