.work {
    padding: 120px 0;
    &__subtitle {
        text-align: center;
    }
    &__divider {
        @include divider;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 25px;
    }
    &__cards-wrapper {
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap: 13px;
    }
    &__card {
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-header {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 15px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
        }
        &-img {
            margin-bottom: 20px;
        }
    }
}